@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{

background:#060606;
color:white;

}

nav{

width:100%;
padding:22px 8%;
display:flex;
justify-content:space-between;
align-items:center;

position:sticky;
top:0;

background:rgba(8,8,8,.75);
backdrop-filter:blur(18px);

border-bottom:1px solid rgba(255,255,255,.05);

z-index:100;

}

.logo{

font-size:28px;
font-weight:800;

letter-spacing:.5px;

}

.nav-right{

display:flex;
gap:15px;

}

button{

cursor:pointer;
transition:.3s;

}

.login{

background:none;
color:white;

border:1px solid #444;

padding:10px 22px;

border-radius:10px;

}

.login:hover{

background:#181818;

}

.pro{

background:white;
color:black;

padding:10px 22px;

border-radius:10px;

font-weight:700;

border:none;

}

.pro:hover{

transform:translateY(-2px);

}

.hero{

padding:90px 10%;
text-align:center;

}

.hero h1{

font-size:60px;

font-weight:900;

line-height:1.05;

margin-bottom:20px;

}

.hero p{

font-size:19px;

color:#9b9b9b;

max-width:700px;

margin:auto;

}

.upload-section{

padding:20px 10% 50px;

}

.upload-box{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:330px;

border:2px dashed #444;

border-radius:22px;

cursor:pointer;

transition:.35s;

background:#101010;

}

.upload-box:hover{

border-color:white;

background:#141414;

transform:scale(1.01);

}

.upload-icon{

font-size:70px;

margin-bottom:18px;

}

.upload-box h2{

font-size:28px;

margin-bottom:10px;

}

.upload-box p{

color:#8c8c8c;

}

.preview{

padding:0 10%;

}

#previewContainer{

min-height:500px;

border-radius:22px;

overflow:hidden;

background:#111;

display:flex;

align-items:center;

justify-content:center;

border:1px solid rgba(255,255,255,.05);

}

.placeholder{

font-size:20px;

color:#777;

}

.preview img{

width:100%;

display:block;

}

.preview video{

width:100%;

display:block;

}

.effects{

padding:60px 10%;

}

.effects h2{

font-size:34px;

margin-bottom:30px;

}

.effect-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(170px,1fr));

gap:18px;

}

.effect-grid button{

background:#151515;

color:white;

border:1px solid #2f2f2f;

padding:18px;

font-size:15px;

border-radius:14px;

}

.effect-grid button:hover{

border-color:white;

background:#202020;

transform:translateY(-4px);

}

footer{

margin-top:80px;

padding:35px;

text-align:center;

border-top:1px solid rgba(255,255,255,.05);

color:#777;

}

footer span{

padding:0 15px;

}
